body {
  font-family: "Work Sans", sans-serif;
}
/* navbar section starts  */
nav {
  height: 6rem;
  padding-left: 8rem !important;
  padding-right: 8rem !important;
  position: relative;
}
.navbar-nav {
  margin-bottom: 2rem !important;
  height: 6rem;
  align-items: center;
}
a#navbarDropdown.nav-link.dropdown-toggle {
  font-size: 0.8rem;
  font-weight: 500 !important;
  font-weight: 600 !important;
  color: #1c293b;
}
.nav-item a {
  color: #1c293b !important;
  font-weight: 600 !important;
  margin-left: 1.5rem;
}
/* a.nav-link {
  font-size: 0.8rem;
} */
/* navbar section starts  */
.meet-the-team-section {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
  padding-bottom: 3rem;
}
.meet-the-team {
  margin-top: 2.5rem;
  font-size: 3rem;
  font-weight: 200;
}
/* <!-- main section starts here --> */
.main-section {
  background: #f4f4f5;
  padding: 7rem !important;
}
/* first item section starts*/
.first-item {
  padding: 2rem 2rem;
}
.text-div {
  color: #848d9c;
  letter-spacing: 1px;
  font-weight: 300;
}
.line-through-div {
  border-bottom: 1px solid #e5e5e5;
  position: absolute;
  bottom: 1.5rem;
  padding-bottom: 1.7rem;
}
.dev-name {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 2px;
}
.founder {
  letter-spacing: 2px;
  color: #848d9c;
  font-size: 1.3rem;
  font-weight: 500 !important;
}
/* first item section ends*/
/* second item section starts*/
.second-item {
  margin-top: 6rem;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 3rem;
}
.line-through-div-two {
  border-bottom: 1px solid #e5e5e5;
  bottom: 1rem !important;
  padding-bottom: 1rem !important;
}
.line-through-div-three {
  border-bottom: 1px solid #e5e5e5;
  bottom: 1rem !important;
  padding-bottom: 1rem !important;
}
.dev-name-one {
  font-size: 1.5rem;
  font-weight: 600 !important;
  line-height: 2rem;
  letter-spacing: 2px;
}
.dev-name-two {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 2px;
}
.second-row {
  padding: 2rem 3rem;
}
.second-one {
  background-color: #fff;
  padding: 3rem;
}
.second-two {
  background-color: #fff;
  padding: 3rem;
}
/* second item section ends*/
/* <!-- main section endss here --> */
/* axia footer section starts here  */
footer {
  background: #1c293b;
  color: #fff;
  padding: 4rem 8rem !important;
}
.foot-item {
  font-weight: 300 !important;
  font-size: 0.8rem;
}
hr {
  background: #fff;
  color: #fff;
}
.white-logo {
  width: 8rem;
  height: 8rem;
}
/* axia footer section starts here  */
@media only screen and (min-width: 321px) and (max-width: 768px) {
  nav {
    height: 6rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    position: relative;
    z-index: 999999;
  }
  .navbar-nav {
    align-items: flex-start;
  }
  .meet-the-team {
    font-size: 2.4rem;
  }
  .second-two, .second-one {
    padding: 1.5rem;
  }
  .founder {
    font-size: 1rem;
  }
  .dev-name-two,
  .dev-name-one,
  .dev-name {
    font-size: 1.1rem;
  }
  .meet-the-team-section {
    padding-left: 1em !important;
    padding-right: 1rem !important;
    padding-bottom: 3rem;
  }
  .main-section {
    background: #f4f4f5;
    padding: 3rem 1rem !important;
  }
  .first-item {
    padding: 2rem 1rem;
  }
  li.nav-item a {
    font-size: 0.8rem !important;
  }
  footer {
    background: #1c293b;
    color: #fff;
    padding: 2rem 1rem !important;
  }
  .grid-container {
    display: flex !important;
    flex-direction: column !important;
  }
  div.row.meet-row {
    display: flex !important;
    flex-wrap: nowrap !important;
  }
  ul.navbar-nav.mr-auto {
    background-color: rgb(44, 43, 43);
    height: 17rem;
    color: #fff !important;
  }
  .nav-item {
    margin-top: 2rem;
    float: left !important;
    font-size: 5rem !important;
    font-weight: 500 !important;
  }
  .nav-item a {
    color: #fff !important;
    font-size: 9rem !important;
    font-weight: 500 !important;
  }
  .meet-the-team {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-section {
    padding: 0rem 0rem 2rem 0rem !important;
  }
  .first-item {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 4rem;
  }
  nav {
    height: 6rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    position: relative;
  }
  .grid-container {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .meet-the-team {
    text-align: center;
  }
  footer {
    padding: 1rem 1rem !important;
  }
  .nav-item a {
    font-size: 1.5rem !important;
  }
}